@import url(/assets/css/global.css);

.card__box{
    border: none;
}

.card-body{
    display: flex;
    
}

.rounded-circle{
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}

.card__group__text{
    flex-direction: column;
}


    