@import url(/assets/css/global.css);

.card__box{
    border: none;
}

.card-body{
    display: flex;
    
}

.rounded-circle{
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}

.card__group__text{
    flex-direction: column;
}

@media screen and (max-width: 500px) {
    .card-body{
        flex-direction: column;
    }
    
    .rounded-circle{
        width: 2rem;
        height: 2rem;
        margin-right: 0.5rem;
    }
    
    .card__group__text{
        flex-direction: row;
    }
    
    .card__group__text p{
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 1000px) {
    .card-body{
        flex-direction: column;
    }
    
    .rounded-circle{
        width: 2rem;
        height: 2rem;
        margin-right: 0.5rem;
    }
    
    .card__group__text{
        flex-direction: row;
    }
    
    .card__group__text p{
        font-size: 0.8rem;
    }
}
    

