@import url(/assets/css/global.css);

.text-tittle{
    padding: .5rem;
}

.box__avatar, .box__text{
    margin: 1rem;
}

.text-views{
    color: var( --cor-txt-titulo);
    font-weight: bold;
    font-family:var( --font-paragrafo);
}

.text-description{
    color: var(--cor-txt-desc);
    font-family: var(--font-paragrafo);
}

@media screen and (max-width: 500px) {
    .box__info, .box__buttons{
        flex-direction: column;
        padding: .5rem;
    }

    .btn-content{
        width: 100%;
        margin: .5rem;
    }

    .text-views, .text-description{
        font-size: 1rem;
        text-align: justify;
    }

    .container__related, .content__related{
        flex-direction: column;
    }

    .content__text{
        margin-top: 1rem;
    }

}

@media screen and (max-width: 900px) {
    .text-views, .text-description{
        font-size: 1rem;
        text-align: justify;
    }

    .container__related, .content__related{
        flex-direction: column;
    }

    .content__text{
        margin-top: 1rem;
    }

}